{% set wait_more = ['Ok, let me analyse your data some more...',
                    'Sure! Let\'s see what else I can find...',
                    'Okay, will be back soon with more info...'] %}

{% set takes_time = ['This may take some time, I\'ll send you a message when it\'s done...',
                     'Advanced analysis requires time, I\'ll be back when I\'m done...',
                     'This can take a bit, you\'ll receive a message when it\'s ready...'] %}