
{% set dont_know_you = ['Mmm..I don\'t think I know you yet',
                        'That\'s awkward...I don\'t know you yet',
                        'Sorry, it seems that I don\'t know you yet'] %}

{% set contact = ['I\'m an experimental bot for diet-coaching, but I can\'t see you in the system yet. Make sure you\'ve received and accepted the friend request from philhdietbotmaster on MyFitnessPal, but if you\'re still stuck, please contact Karen Li (@saeshyra)!',
                  'I\'m a bot that helps people with diet, but it appears you\'re not in the system yet. Check that you\'ve received and accepted the friend request from philhdietbotmaster on MyFitnessPal, or get in touch with Karen Li (@saeshyra) if you\'ve already done that!'] %}