
{% set key_empty_fst = ['Mmm...I see nothing for this period','I see...no data this period','Your diary looks empty for this period'] %}

{% set key_empty_lst = ['try filling your diary','come back when you\'ve entered some data in your diary','I can\'t help you until you\'ve filled your diary'] %}