
{% set no_dates = ['Sorry, I can\'t understand the time','I\'m struggling to understand what time you\'re referring to','My apologies, but I don\'t get what time you asked for'] %}

{% set maybe_typo = ['Perhaps there is a typo?',
                     'Could you check if there\'s a typo and try again?',
                     'There could be a typo. Check and try again please'] %}
