
{% set most_data_missing = ['Sorry but most of days in the period you specified are empty','I can\'t do it as most of the days in there look empty','Most of the days in that period are empty, so I\'m sorry to say that I can\'t do that.'] %}

{% set please_fill = ['Try filling the empty days and asking again',
                      'Go fill the empty days and try again',
                      'Ask me again after you fill the empty days'] %}
