
{% set no_multiple_times = ['Mmm...I can only give you insights for *one* period.','That\'s more than one time period, I can\'t do that.','I can\'t provide insights for multiple time periods'] %}

{% set try_compare = ['But I can provide comparisons! Try something like "Compare today with yesterday"',
                      'Perhaps you\'re looking for comparisons, like "Was this week better than last week"?',
                      'But maybe you want me to compare those? Like "Can you compare this week with last week?"'] %}
