{% set shrink_fst = ['Some days at the beginning and/or end are'] %}

{% set shrink_mid = ['empty','missing','not there'] %}

{% set shrink_lst = ['I removed these for you',
                     'I ignored these in my analysis',
                     'I won\'t use these'] %}

{% set shrink_stats = ['I\'ll show you insights from',
                       'You\'ll see your insights from',
                       'Because of this, we\'ll talk about your data from'] %}