{% set hole_warn = 'Some days are missing. I can estimate them but the final value could be different to reality. Would you like me to estimate your data?' %}

{% set estimate_reminder_fst = 'You\'ve made me *approximate some data* because they were missing. The values you see *might be less accurate*.' %}
{% set estimate_reminder_lst = 'Also, you won\'t be able to view advanced insights, as this wouldn\'t be safe for you.' %}