{% set deny = ['I\'m sorry but it\'s not safe to perform analysis on estimations',
               'For your own safety, I can\'t show advanced insights after estimating your data',
               'I\'ve estimated your data, so it\'s not safe to show more advanced stuff',
               'Sorry, but that wouldn\'t be safe for you given that I estimated your data'] %}

{% set please_fill = ['Try filling the empty days and asking again',
                      'Go fill the empty days and try again',
                      'Ask me again after you fill the empty days'] %}