{% set partial_typo = ['Seems like there\'s a typo, I don\'t recognise',
                       'Check your request again, I don\'t know what you mean by',
                       'I\'m struggling to understand the term'] %}

{% set rest_is_ok = ['I\'ll still give you the info about the rest',
                     'But the rest is okay and we can continue',
                     'No worries, I saved the rest'] %}