
{% set invalid = ['I can\'t seem to find what you\'re looking for','Err..I have nothing to show you','Ehm...I\'m afraid I may have lost it'] %}
{% set guidance = ['Remember that every time you ask me something, I get rid of the previous stuff','Keep in mind that if you ask me something new, I delete the old stuff'] %}

