
{% set too_complex = ['Sorry, I\'m not so powerful! I can only look up to 5 months back',
                      'That\s too much for my powers...I can\'t do more than 5 months',
                      'That\'s too hard for me, my time limit is 5 months'] %}