{% set intersection = ['these periods are *partially overlapping*.',
                       'there\'s a *partial overlap* between these periods.',
                       'these periods have some *days in common*.'] %}

{% set etherogeneous_comparison = ['you\'re comparing two periods with *different lengths*.',
                                   'the periods have a *different number of days*.',
                                   'these periods have *different lengths*.'] %}

{% set distant_dates = ['you *cut out some days* between the two periods.',
                        'these periods are *not consecutive*.',
                        'there is a gap between *these periods*.'] %}

{% set be_careful = ['The comparison might be unsafe.'] %}