{% set wait = ['Working on it...',
               'Ok, let me check...',
               'Sure, just a moment...'] %}

{% set wait_more = ['Ok, let me analyse your data some more...',
                    'Sure! Let\'s see what else I can find...',
                    'Okay, will be back soon with more info...'] %}

{% set task_desc_intro = ['I\'m looking at your data','I\'m analysing your data','I\'m checking your data'] %}
{% set update_desc = ['and getting the insights...','and extracting some insights...'] %}
{% set compare_desc = ['and making a comparison...','and comparing them...','and checking what changed...'] %}